<html>
    <head>
        <%- include("partials/common_header.ejs") %>
        <script src="../js/home.js"></script>
    </head>
    <body>
        <div class="whole-wrapper">
            <div id="home_main_content_wrapper">
                <div id="home_introduction_title_wrapper">
                    <span class="block-span">Welcome to SendWhere</span>
                    <span class="block-span">Feel Simplest, Free File Transmission</span>
                </div>
                <div id="home_start_buttons_wrapper">
                    <button class="home-start-button" id="create_room_btn">Create room</button>
                    <button class="home-start-button" id="join_room_btn">Join room</button>
                </div>
            </div>
        </div>
    </body>
</html>