button{
    cursor: pointer;
    border: none;
    padding: 12px 18px;
    font-size: 1.2em;
    transition: ease-in-out 0.2s;
}

button:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192);
}

pre{
    display: inline;
    margin: 0;
    white-space: pre-wrap;
}